* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.6rem;
}

.sBox {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  font-size: 1.6rem;
}

:root {
  --bg: rgb(252, 252, 252);
  --text: rgb(32, 32, 32);
  --primary: blue;
  --secondary: #15803d;
  --button: yellow;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: var(--text);
}

main {
  padding: 1rem 1rem;
}

/* Hauptgrid */

.maingrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.full {
  grid-column: 1 / -1;
}

.mainitem {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(240, 240, 228);
  box-shadow: var(--shadow);
}

/* Header */

header {
  text-align: center;
  background-color: var(--secondary);
  color: var(--bg);
  box-shadow: var(--shadow);
}

header h1 {
  margin: 0;
  padding: 2rem 1rem;
  color: var(--bg);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .maingrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  main {
    padding: 1rem 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .maingrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  main {
    padding: 1rem 4rem;
  }
}

/* Hier macht sich jeder einen Bereich */

/* Marc trainingsplan */

.header_train {
  background-color: var(--secondary);
  height: 10vh;
}

.train_grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.train_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .train_grid h2 {
  grid-area: 3/1;
} */

.days {
  display: grid;
  grid-template-rows: 1fr 50px 1fr;
}

.time {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.3rem;
  font-weight: bold;
}

.time {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.timeslot {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
.colored {
  display: inline-block;
  width: 20px;
  background-color: red;
}

/* omar */
/* .pro-img {
  text-align: center;
} */
.pro-img img {
  width: 10rem;
}
.pro-img h4 {
  text-align: center;
}
hr {
  border: 1px solid lightgray;
  width: 80%;
}
fieldset {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.profile-input-txt[type="text"] {
  width: 90%;
  margin-top: 0.5rem;
}
.profile-label {
  cursor: pointer;
}
.profile-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/********************************************************/
/******************Mehmet********************************/
/********************************************************/

aside {
  background-color: rgb(207, 197, 197);
  border-radius: 5px;
}

#headline {
  margin: 3rem 0;
  text-align: center;
}
.box p {
  letter-spacing: 0.09rem;
}
.box h3 {
  padding-bottom: 2rem;
}
.box {
  padding: 2rem 2rem;
}
aside h2 {
  padding: 2rem 2rem;
}

#mainContainer {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "containerErnährung aside"
    "containerErnährung aside"
    "containerErnährung aside";
}

.containerErnährung {
  grid-area: containerErnährung;
}
.containerSport {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

aside {
  grid-area: aside;
}
.sport {
  margin: 3rem 0;
  align-self: flex-start;
}
.sport h2 {
  text-align: center;
  padding: 2rem 0;
}

.abox {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  text-align: center;
  margin: 4rem 3rem;
}

.boxOben {
  display: flex;

  display: -webkit-flex;
  display: -ms-flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.untenBox {
  grid-area: untenBox;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: baseline;
}

.sBox {
  border: 1px solid rgb(47, 46, 46);
  border-radius: 10px;
}

.sBox:hover {
  background-color: rgba(73, 66, 66, 0.726);
  color: var(--text);
}

.sBox h3 {
  text-align: center;
  margin: 1rem 0;
}

.sBoxEx h3 {
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.sBoxEx img {
  width: 100%;
  height: 35%;
  border-radius: 10px;
}

.sBoxEx {
  margin: 0 auto;
  margin-top: 5em;
  width: 70%;
}

.sBoxEx p {
  padding: 1rem 2rem;
  width: 90%;
  margin: 2rem auto;

  letter-spacing: 0.09rem;
}
