/* Reset und Imports */

/*
// SPERRZONE ANFANG
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:nth-child(odd) {
  animation: wiggle 0.232s ease-in-out 2 12s, wiggle 0.232s ease-in-out 3 24s,
    wiggleup 0.232s ease-in-out 2 32s, wiggle 0.232s ease-in-out infinite 40s;
  animation-direction: alternate;
}

*:nth-child(even) {
  animation: wiggle 0.425s ease-in-out 2 12s, wiggle 0.232s ease-in-out 3 24s,
    wiggleup 0.232s ease-in-out 2 32s, wiggle 0.232s ease-in-out infinite 40s;
  animation-direction: alternate;
}

@keyframes wiggle {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-7px);
  }
}

@keyframes wiggleup {
  0% {
    transform: translateY(-13px);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaler {
  100% {
    transform: scale(1.5, 2.4);
  }
}

/*
// SPERRZONE ENDE
*/

a {
  text-decoration: none;
  color: var(--text);
}
img {
  width: 100%;
  object-fit: cover;
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.6rem;
}

:root {
  --bg: rgb(252, 252, 252);
  --text: rgb(32, 32, 32);
  --primary: blue;
  --secondary: #15803d;
  --button: yellow;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: var(--text);
}

main {
  padding: 1rem 1rem;
}

/* Helper */

.grow {
  flex-grow: 1;
}

.flexw {
  display: flex;
  flex-wrap: wrap;
}

.flexmid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Hauptgrid */

.maingrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.full {
  grid-column: 1 / -1;
}

.mainitem {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f0f0e4;
  box-shadow: var(--shadow);
}

.mainitem h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-weight: 300;
}

.mainitem .imgcontainer {
  margin-left: -1rem;
  margin-right: -1rem;
}

.mainItemText {
  padding: 2rem 0rem;
}

/* Header */

header {
  text-align: center;
  background-color: var(--bg);
  box-shadow: var(--shadow);
}

header h1 {
  margin: 0;
  padding: 2rem 1rem;
  color: var(--secondary);
}

/* Footer */

.footerflex {
  box-shadow: var(--shadow);

  margin-top: 4rem;
  display: flex;
  color: var(--bg);
  padding: 4rem;
  background-color: var(--secondary);
}

.box2 {
  visibility: hidden;
}

.footeritem {
  padding-top: 1rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .maingrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  main {
    padding: 1rem 2rem;
  }

  .media_grid_marc1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .pro-img {
    text-align: center;
  }

  .profile-main .profile-input-txt[type="text"] {
    width: 100%;
  }

  #mainContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .maingrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  main {
    padding: 1rem 4rem;
  }

  .media_grid_marc1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Hier macht sich jeder einen Bereich */

/*REZEPTE-ÖMER*/
#rezepteNavbar ul {
  display: flex;
  justify-content: space-around;
}
#rezepteNavbar li {
  display: inline-block;
}
#rezepteNavbar a {
  display: block;
  text-decoration: none;
  background-color: #f0f0e4;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 2rem;
}
#rezepteNavbar a:hover {
  background-color: #cfc5c5;
  color: var(--text);
}
.rezeptBox {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title title"
    "rezeptImage rezeptText";
  gap: 20px;
  padding: 15px;
  /* background-color: rgb(185, 171, 185); */
  background-color: rgb(207, 197, 197);
  margin-bottom: 20px;
  border-radius: 5px;
}
.rezeptBox h3 {
  grid-area: title;
}
.rezeptBox img {
  grid-area: rezeptImage;
  border-radius: 5px;
  transition: 2s;
}
.rezeptBox p {
  grid-area: rezeptText;
  line-height: 30px;
}

.rezeptBox img:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
}

/*
Reset und Normalize
*/

* {
  box-sizing: border-box;
}

/* Marc trainingsplan */

.slider {
  /* transition: all 2s; */
  animation: slider 3s ease-in-out 2s infinite alternate-reverse;
  overflow: hidden;
}

@keyframes slider {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(88vw, 0) rotate(1080deg);
  }
}

.span-block {
  display: inline-block;
}

.header_train {
  background-color: var(--bg);
  height: 10vh;
}

.train_grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.train_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .train_grid h2 {
  grid-area: 3/1;
} */

.days {
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(240, 240, 228);
  margin: 2rem 0;
  box-shadow: var(--shadow);
}

.time {
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 30px);
}

.grid-weekflow {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
}

/* .hour1 {
  grid-area: 1/1/2/13;
}

.timeslot1 {
  grid-area: 2/1/3/13;
}

.hour2 {
  grid-area: 1/1/2/13;
}

.timeslot2 {
} */

.sleep {
  /*  background-color: darkblue;
  color: var(--bg); */
  /* margin: 1rem auto; */
  text-align: center;
  width: 60px;
  height: 15px;
  font-size: 1.2rem;
  color: #323232;
  border: rgb(75, 73, 177) solid 4px;
  background: linear-gradient(to right bottom, #2d4263, #f0f0e4);
  border: none;
  border-radius: 20px;
}

.exercise {
  /* background-color: red; */
  text-align: center;
  width: 60px;
  height: 15px;
  font-size: 1.2rem;
  color: #323232;
  border: rgb(177, 35, 30) solid 4px;
  background: linear-gradient(to right bottom, #c84b31, #f0f0e4);
  border: none;
  border-radius: 20px;
}

.eating {
  /* background-color: darkmagenta;
  color: var(--bg); */
  text-align: center;
  width: 60px;
  height: 15px;
  font-size: 1.2rem;
  color: #323232;
  border: rgb(222, 241, 45) solid 4px;
  background: linear-gradient(to right bottom, #ecdbba, #f0f0e4);
  border: none;
  border-radius: 20px;
}

.btn {
  margin: 1rem auto;
  width: 177px;
  height: 35px;
  font-size: 1.5rem;
  color: #323232;

  border: rgb(32, 32, 32) solid 4px;
  background: linear-gradient(to right bottom, rgba(207, 197, 197), #f0f0e4);

  border: none;
  border-radius: 20px;
  transition: all 0.25s ease;
}

.btn:hover {
  color: #323232;

  background: linear-gradient(to left top, rgba(207, 197, 197), #f0f0e4);

  border-color: none;
}

/* omar */

.pro-img img {
  width: 10rem;
}
.pro-img h4 {
  text-align: center;
}
hr {
  border: 1px solid lightgray;
  width: 80%;
  margin-left: 10%;
}
fieldset {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.profile-input-txt[type="text"] {
  width: 90%;
  margin-top: 0.5rem;
}
.profile-label {
  cursor: pointer;
}
.profile-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
}
.profile-main p {
  margin-top: 1rem;
}
.first-name:focus {
  box-shadow: 0px 0px 7px 0px #025d02;
}

/*Animation baby!*/
.flip-card-omar {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}
.flip-card-omar:hover {
  transform: translateX(-100%) rotateY(-180deg);
}
.flip-card-omar .face-omar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  backface-visibility: hidden;
}
.flip-card-omar .front-omar {
  background-color: none;
  backface-visibility: hidden;
}
.flip-card-omar img {
  /* width: 100%;
  height: 100%; */
  object-fit: contain;
}
.main-item-container .back-omar {
  /* background-color: green; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/********************************************************/
/******************Mehmet********************************/
/********************************************************/

#elemente {
  background-color: rgb(207, 197, 197);
  border-radius: 5px;
}

.elemente {
  background-color: rgb(207, 197, 197);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

#headline {
  margin: 3rem 0;
  text-align: center;
}
.box p {
  letter-spacing: 0.09rem;
}
.box h3 {
  padding-bottom: 2rem;
}
.box {
  padding: 2rem 2rem;
}
#elemente h2 {
  padding: 2rem 2rem;
}

#mainContainer {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "containerErnährung elemente"
    "containerErnährung elemente"
    "containerErnährung elemente";
}

.containerErnährung {
  grid-area: containerErnährung;
}
.containerSport {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#elemente {
  grid-area: elemente;
}
.sport {
  margin: 3rem 0;
  align-self: flex-start;
}
.sport h2 {
  text-align: center;
  padding: 2rem 0;
}

.abox {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  text-align: center;
  margin: 4rem 3rem;
}

.boxOben {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.supplements a,
.sBox,
.mainitem,
#rezepteNavbar a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  font-size: 1.6rem;
  perspective: 1000px;
}

header {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  border: 1px solid black;
  /* background-color: rgb(207, 197, 197); */
  background-color: rgb(240, 240, 228);
  width: 15%;

  font-size: 2rem;
  top: 3rem;
  left: 2.5rem;

  z-index: 5;
}
header {
  position: relative;
}
.fas {
  left: 2rem;
  top: 2rem;
  position: absolute;
}

.nav:hover .menu {
  display: block;
}

ul {
  list-style-type: none;
  padding: 2rem 2rem;
}

.menu li {
  padding: 1rem 1rem;
}

.menu li:hover {
  background-color: rgb(207, 197, 197);
}

.untenBox {
  grid-area: untenBox;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: baseline;
}

.sBox {
  border: 1px solid rgb(54, 51, 51);
  border-radius: 10px;
  width: 100%;
  background-color: rgb(240, 240, 228);
}

.sBox:hover,
.mainitem:hover {
  background-color: rgba(207, 197, 197);
  color: var(--text);
}

.sBox h3 {
  text-align: center;
  margin: 1rem 0;
}

.sBoxEx h3 {
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.sBoxEx img {
  width: 100%;

  border-radius: 10px;
}

.sBoxEx {
  margin: 0 auto;
  margin-top: 5em;
  width: 75%;
}

.sBoxEx p {
  padding: 1rem 2rem;
  width: 90%;
  margin: 2rem auto;

  letter-spacing: 0.09rem;
}

.lead {
  width: 50%;
  margin: auto;
}

.supplements {
  padding: 4rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.supplements a:hover {
  /* background-color: cadetblue; */
  background-color: rgba(207, 197, 197);
  color: var(--text);
}

.supplements a {
  /* background-color: cadetblue; */
  /*
  background-color: rgb(240, 240, 228); */
  border: 3px solid #b4eeb4;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
  border-radius: 10px;
}

.card {
  /* background: linear-gradient(
    to right bottom,
    rgb(96, 96, 255, 0.6),
    rgba(243, 66, 149, 0.664)

  );*/
  background-color: #f0f0e4;
  box-shadow: var(--shadow);
  padding: 3rem;
  border: 1px solid #b4eeb4;
  border-radius: 5px;
  /* box-shadow: 1px 1px 5px #8a8a8a; */
}

/* Müll */

.section-main {
  padding: 4rem;
  width: 70%;
  margin: auto;
  text-align: center;
}

header {
 animation: slide 2s forwards; 
}
 header h1:hover{
   text-shadow: 0 0 12px lime ;
   transform: translate(600px, 50%);
   transition: 3s;
   color: gold;
 }