html,
body {
  font-family: "Roboto";
}

:root {
  --primary: blue;
  --secondary: green;
  --button: yellow;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

main {
  padding: 1rem 1rem;
}

.maingrid {
  display: grid;
  gap: 1rem;
}

.mainitem {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(240, 240, 228);
  box-shadow: var(--shadow);
}

/* Header */

header {
  text-align: center;
  background-color: grey;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main {
    padding: 1rem 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    padding: 1rem 4rem;
  }
}

/* Hier macht sich jeder einen Bereich */
